aib-hosts:
  hosts:
    xyz.sandbox620.opentlc.com:
      # ansible configuration
      ansible_user: lab-user
      ansible_password: "xyz123"

all:
  vars:
    # set the following RHDP instance specific variables
    cluster_generic_password: "xyz123" 

    # other infrastructure variables
    cluster_guid: "k8qtz"   # get this from the RHPD Demo URL
    region: "us-east-2"  # get this from the RHPD Demo configuration screen

    # template specific variables
    templates_repo_group: "rhdh"
    templates_repo_name: "lab2255-templates"
    templates_repo_url: "https://github.com/rhadp-example-repos/lab2255-templates"
    templates_repo_branch: "main"

    # namespace specific variables
    gitlab_namespace: gitlab
    backstage_namespace: backstage
    
    # aib-builder specific variables
    aib_builder_user: "lab-user"
    aib_builder_password: "xyz123"
    aib_builder_host: "xyz...opentlc.com"

    # AWS specific variables
    aws_access_key_id: "xyz123"
    aws_secret_access_key: "xyz123"
    aws_default_region: "us-east-2"