aib-hosts:
  hosts:
    xyz.sandbox620.opentlc.com:
      # ansible configuration
      ansible_user: lab-user
      ansible_password: "xyz123"

exporter:
  hosts:
    outpost.local:
      ssh_public_key_file: ~/.ssh/id_rsa.pub # use this key to access the image

      # what drivers/extensions to install
      install_sdwire: true
      install_ykush: true
      install_jumpstarter: true

      # DuT infrastructure
      dut_usb_port: 1
      dut_serial_device: bdgrd_sdwirec_437
      dut_sdcard_mount: "/dev/sda"

      # ansible configuration
      ansible_user: root
      ansible_ssh_private_key_file: ~/.ssh/id_rsa # private key used to access the remote server

all:
  vars:
    # set the following RHDP instance specific variables
    cluster_generic_password: "xyz123" 

    # other infrastructure variables
    cluster_guid: "xyz123"   # get this from the RHPD Demo URL
    cluster_instance: "xyz123-123xyz"

    region: "us-east-2"  # get this from the RHPD Demo configuration screen
    availability_zone: "us-east-2c

    # template specific variables
    templates_repo_group: "rhdh"
    templates_repo_name: "lab2255-templates"
    templates_repo_url: "https://github.com/rhadp-example-repos/lab2255-templates"
    templates_repo_branch: "develop"

    # namespace specific variables
    gitlab_namespace: gitlab
    backstage_namespace: backstage
    vault_namespace: vault
    outpost_namespace: outpost
    rhadp_namespace: rhadp

    # aib-builder specific variables
    aib_builder_user: "lab-user"
    aib_builder_password: "xyz123"
    aib_builder_host: "xyz...opentlc.com"

    # AWS specific variables
    aws_access_key_id: "xyz123"
    aws_secret_access_key: "xyz123"
    aws_default_region: "us-east-2"