#!/bin/bash

set -e

cd {{ work_dir}}

sudo podman run --rm -ti --net=host --privileged \
  --name outpost-{{ item }}-exporter \
  -v /run/udev:/run/udev -v /dev:/dev -v /root/.kube/config:/root/.kube/config -v "$PWD":"$PWD" \
  quay.io/rhadp-example-repos/jumpstarter:latest \
  /bin/bash -c "cd $PWD/; jmp run --exporter-config ./outpost-{{ item }}-exporter.yaml"